nav {
    border: 1px solid lightgray;
    width: 100%;

    @include border-radius(15px);

    ul {
        display: flex;
        list-style: none;
        flex-direction: column;

        @include desktop() {
            flex-direction: row;
        }

        li {
            padding: 15px;

            &.active,
            &:hover {
                background-color: $color-red;
                color: $color-white;

                a {
                    color: $color-white !important;
                }
            }

            a {
                text-decoration: none;
            }
        }
    }
}
