// Break points
$phone-down:                  480px;
$phone-up:                    576px;
$tablet:                      768px;
$desktop:                     992px;
$large-desktop:               1200px;

// Colors
$color-primary:               #FF7414;
$color-second:                #3b3736;

$color-text:                  #212529;
$color-red:                   #FF0000;
$color-white:                 #fff;
